<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5776421978150971",
    enable_page_level_ads: true
  });
</script>


<div id="ChildDiv">
	
		<table class="table">
			<tr>
				<th>Date</th>
				<th>Status</th>
				<th>Matchday</th>
				<th>Home Team</th>
				<th>Away Team</th>
				<th>Goals Home</th>
				<th>Goals Away</th>
				<th>Halftime Home Goals</th>
				<th>Halftime Away Goals</th>
				<th>Odds Home</th>
				<th>Odds Draw</th>
				<th>Odds Away</th>
			</tr>
			
			<tr *ngFor="let lastGame of lastGames.fixtures">
				
				<td> {{lastGame.date}} </td>
				<td> {{lastGame.status}}</td>
				<td> {{lastGame.matchday}}</td>
				<td> {{lastGame.homeTeamName}} </td>
				<td> {{lastGame.awayTeamName}} </td>
				<td> {{lastGame.result.goalsHomeTeam}} </td>
				<td> {{lastGame.result.goalsAwayTeam}} </td>
				<td> {{lastGame.result.halfTime.goalsHomeTeam}} </td>
				<td> {{lastGame.result.halfTime.goalsAwayTeam}} </td>
			<td> {{lastGame.odds.homeWin}} </td>
				<td> {{lastGame.odds.draw}} </td>
				<td> {{lastGame.odds.awayWin}} </td> 
				
				







				<!--<td *ngIf="lastGame.result.halfTime != null"> {{lastGame.result.halfTime}} </td> 
					<td> {{lastGame.result.halfTime.goalsAwayTeam}}; </td> <td>
					
				<td *ngIf="lastGame.result.halfTime == null">	
					
					 {{"N/A"}} </td> <td> {{"N/A"}} </td> <td>;
				
					*ngIf={{lastGame.odds}}; then {{lastGame.odds.homeWin}} </td>
					 <td> {{lastGame.odds.draw}} </td> <td> {{lastGame.odds.awayWin}} </td> </tr>;
						
					else {{"N/A"}} </td> <td> {{"N/A"}} </td> <td> {{"N/A"}} </td> </tr>;
						
					 *ngIf(  i >= ( all - 1 )){
						$(tblRow).appendTo("tr");
					}-->
			
				
				
				<!--<td><img src="{{team.crestURL}}" /> </td>-->
			</tr>
			
		</table>

	
</div>

<!--
			 $.each(response, function(i, f) {
		 all+=1;
		 });
	 
			 $.each(response, function(i, f) {
		// console.log(f);
		// console.log(f.result);
					var tblRow = "<tr>" + "<td>" + new Date(f.date) + "</td>" + "<td>" + f.status + "</td>" + "<td>" + f.matchday + 
			 "</td>" + "<td>" + f.homeTeamName + "</td>" +
			 "<td>" + f.awayTeamName + "</td>" + "<td>" + f.result.goalsHomeTeam + "</td>" + "<td>" + f.result.goalsAwayTeam + "</td>" +
			 "<td>";
			if(f.result.halfTime){
				tblRow+=
			 f.result.halfTime.goalsHomeTeam + "</td>" + "<td>" + f.result.halfTime.goalsAwayTeam + "</td>" +"<td>";
				}
			else{
				tblRow+=
			 "N/A" + "</td>" + "<td>" + "N/A" + "</td>" +"<td>";
				}
			if(f.odds){
				tblRow+=f.odds.homeWin + "</td>" + "<td>" + f.odds.draw + "</td>" + "<td>" + f.odds.awayWin + "</td>" + "</tr>";
				}
			else{
				tblRow+="N/A" + "</td>" + "<td>" + "N/A" + "</td>" + "<td>" + "N/A" + "</td>" + "</tr>";
				}
				var number, i;
			 if(  i >= ( all - 1 )){
				$(tblRow).appendTo("#datdata tbody");
			}
		 });

		 <table>
		
		 <tr *ngFor= "let team of teams">
		 <td>
		 <td> team.crstURl</td>
		 <td> </td>
		 </tr>
		 </table>

	 

	
	//response['standing']['0']['wins']
	
	
	//IF F.STATUS === FINISHED THEN SHOW IF NOT DONT SHOW ONLY SHOW LAST GAME THERE CAN BE TIMED GAMES WE DONT WANT THAT-->





<!-- <div class="wrapper" style="overflow-x:auto;"> 
<div class="profile">
<table id= "datdata" border="2">
<thead>

	<th>date</th>
	<th>status</th>
	<th>matchday</th>
	<th>homeTeamName</th>
	<th>awayTeamName</th>	
	<th>goalsHomeTeam</th>
	<th>goalsAwayTeam</th>
	<th>halftimegoalsHomeTeam</th>
	<th>halftimeawaygoals</th>
	<th>oddshomeWin</th>
	<th>oddsdraw</th>
	<th>oddsawayWin</th>
	
</thead>
<tbody>

       </tbody>
</table>

</div>
</div>-->