
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6977942731603442",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

</script>
<!--<img src="http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg">-->


<div class="wrapper" style="overflow-x:auto;">
<div class="profile">
<table id= "datdata" border="2">
<thead>

	<th>name</th>
	<th>position</th>
	<th>jerseyNumber</th>
	<th>dateOfBirth</th>
	<th>nationality</th>
	<th>contractUntil</th>
	<th>marketValue</th>
	
	
  
</thead>
<tbody>

       </tbody>
</table>

</div>
</div>
 

