/*table {
    border-collapse: collapse;
    width: 100%;
	text-align: center;
}*/

tr {
    text-align: center;
    padding: 10px;
}
th {
    text-align: center;
    padding: 51px;
}

td{
    text-align: center;
    padding: 10px;
}


tr:nth-child(even){background-color: #0063A6}
tr:nth-child(odd){background-color: rgb(4, 153, 253)}

table {
    border-collapse: collapse;
    width: 100%;
    height: 586px;
    overflow-x:20px;
    overflow-y:30px;
    border-spacing: 0;
    max-width: 100%;
    max-height: 1000px;
    display: block;
}

div { 
    overflow-y:auto;
    overflow-x:auto;
    
    }