<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5776421978150971",
        enable_page_level_ads: true
      });
    </script>
  <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6977942731603442",
          enable_page_level_ads: true
     });
</script>-->
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<!--<div  id="hack">    
    </div>-->

<!-- <div class="row" id="six"> 
        <div class="col-sm-12" id="hack"></div>
        <img id="hack2" src="https://latrobeuni-my.sharepoint.com/:i:/r/personal/jamorran_students_latrobe_edu_au/Documents/back2.png?csf=1&e=zk609T"/>        
       </div>-->
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <div id="five">
        <img id="one" alt="Angular Logo" src="http://upload.wikimedia.org/wikipedia/de/4/42/Logo_FC_Empoli.svg" />
      Elite Soccer Broadcast
        <img id="two" alt="Angular Logo" src="http://upload.wikimedia.org/wikipedia/de/4/42/Logo_FC_Empoli.svg" />
      </div>
    </div>
  </div>
</div>

  <!-- <img  src="https://image.ibb.co/i5ZdXd/back2.png"/>-->


  <div class="row">
    <div class="col-sm-2">

      <p id="three">Empoli FC</p>

      <ul class=sidenav>
        <li>
          <a routerLink="/myteam" routerLinkActive="active">My Team</a>
        </li>
        <li>
          <a routerLink="/allplayers" routerLinkActive="active">All Players</a>
        </li>
        <li>
          <a routerLink="/competitions" routerLinkActive="active">Competitions</a>
        </li>
        <li>
          <a routerLink="/headtohead" routerLinkActive="active">Head To Head</a>
        </li>
        <li>
          <a routerLink="/lastgame" routerLinkActive="active">Last Game</a>
        </li>
        <li>
          <a routerLink="/leaguetable" routerLinkActive="active">League Table</a>
        </li>
        <li>
          <a routerLink="/performance" routerLinkActive="active">Performace</a>
        </li>
        <li>
          <a routerLink="/season" routerLinkActive="active">Season</a>
        </li>
      </ul>

    </div>

    <div class="col-sm-8">

      <p id="four">
        <router-outlet></router-outlet>
      </p>

    </div>
    <div class="col-sm-2">
      <a href="https://secure-thicket-70371.herokuapp.com/myteam"><div class="ad">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br></div></a>
    </div>
  </div>


















































  <!--<div id="seven">
  <div class="row" id="six">
    
    
    <div class="col-sm-12" id="hack"></div>
    <img id="hack2" src="https://latrobeuni-my.sharepoint.com/:i:/r/personal/jamorran_students_latrobe_edu_au/Documents/back2.png?csf=1&e=zk609T"/>
      

    
    
   </div>
    

  <div class="row">
    <div class="col-sm-2">

      <p id="three">Empoli FC</p>

      <ul class=sidenav>
        <li>
          <a routerLink="/myteam" routerLinkActive="active">My Team</a>
        </li>
        <li>
          <a routerLink="/allplayers" routerLinkActive="active">All Players</a>
        </li>
        <li>
          <a routerLink="/competitions" routerLinkActive="active">Competitions</a>
        </li>
        <li>
          <a routerLink="/headtohead" routerLinkActive="active">Head To Head</a>
        </li>
        <li>
          <a routerLink="/lastgame" routerLinkActive="active">Last Game</a>
        </li>
        <li>
          <a routerLink="/leaguetable" routerLinkActive="active">League Table</a>
        </li>
        <li>
          <a routerLink="/performance" routerLinkActive="active">Performace</a>
        </li>
        <li>
          <a routerLink="/season" routerLinkActive="active">Season</a>
        </li>
      </ul>

    </div>

    <div class="col-sm-8">
      
      <p id="four">
        <router-outlet></router-outlet>
      </p>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>-->