<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6977942731603442",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>



<!--<img src="http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg">-->

<div id="ChildDiv">

  <table>
    <tr>
      <th>name</th>
      <th>code</th>
      <th>shortName</th>
      <th>squadMarketValue</th>
      <th>crestUrl</th>

    </tr>


    <!--<tr *ngFor="let myTeam of myTeams"-->
    <tr>
      <td> {{myTeams.name}} </td>
      <td> {{myTeams.code}}</td>
      <td> {{myTeams.shortName}} </td>
      <td *ngIf="myTeams.squadMarketValue == null"> {{"N/A"}} </td> 
     <!-- <td> {{myTeams.squadMarketValue}} </td>-->
      <td>
        <img src="{{myTeams.crestUrl}}" alt="No IMG supplied for this team in json data" height=100 width=100/> </td>


    </tr>

  </table>


</div>

<!--<div class="wrapper" style="overflow-x:auto;">
<div class="profile">
<table id= "datdata" border="2">
<thead>

	<th>name</th>
	<th>code</th>
	<th>shortName</th>
	<th>squadMarketValue</th>
	<th>crestUrl</th>
	
	
	
  
</thead>
<tbody>

       </tbody>
</table>

</div>
</div>-->