<div id="ChildDiv">
	
  <table>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>Match Day</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Goals Home</th>
      <th>Goals Away</th>
      <th>Halftime Home Goals</th>
      <th>Halftime Away Goals</th>
      <th>Odds Home</th>
      <th>Odds Draw</th>
      <th>Odds Away</th>
    </tr>
    
    <tr *ngFor="let headToHead of headToHeads.fixtures">
      
      <td> {{headToHead.date}} </td>
      <td> {{headToHead.status}}</td>
      <td> {{headToHead.matchday}}</td>
      <td> {{headToHead.homeTeamName}} </td>
      <td> {{headToHead.awayTeamName}} </td>
      <td> {{headToHead.result.goalsHomeTeam}} </td>
      <td> {{headToHead.result.goalsAwayTeam}} </td>
      <td> {{headToHead.result.halfTime.goalsHomeTeam}} </td>
      <td> {{headToHead.result.halfTime.goalsAwayTeam}} </td>
    <td> {{headToHead.odds.homeWin}} </td>
      <td> {{headToHead.odds.draw}} </td>
      <td> {{headToHead.odds.awayWin}} </td> 
      
      
    </tr>
    
  </table>


</div>
