<meta name="viewport" content="width=device-width, initial-scale=1">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6977942731603442",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>
</script>

<!--<img src="http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg">-->

<div id="ChildDiv">
	
	
	
	<table>
		<tr>
			<th>Position</th>
			<th>Team Name</th>
			<th>Crest</th>
			<th>Played Games</th>
			<th>Points</th>
			<th>Goals</th>
			<th>Goals Against</th>
			<th>Goal Difference</th>
			<th>Wins</th>
			<th>Draws</th>
			<th>Losses</th>
			<th>Home Goals</th>
			<th>Home Goals Against</th>
			<th>Home Wins</th>
			<th>Home Draws</th>
			<th>Home Losses</th>
			<th>Away Goals</th>
			<th>Away Goals Against</th>
			<th>Away Wins</th>
			<th>Away Draws</th>
			<th>Away Losses</th>
			 
		</tr>
		

		<tr *ngFor="let leagueTable of leagueTables.standing">
			<td> {{leagueTable.position}} </td>
			<td> {{leagueTable.teamName}}</td>
			<td> <img src="{{leagueTable.crestURI}}" alt="No IMG supplied for this team in json data" height=100 width=100/> </td>
			<td> {{leagueTable.playedGames}} </td>
			<td> {{leagueTable.points}} </td>
			<td> {{leagueTable.goals}} </td>
			<td> {{leagueTable.goalsAgainst}} </td>
			<td> {{leagueTable.goalDifference}} </td>
			<td> {{leagueTable.wins}} </td>
			<td> {{leagueTable.draws}} </td>
			<td> {{leagueTable.losses}} </td>
			<td> {{leagueTable.home.goals}} </td>
			<td> {{leagueTable.home.goalsAgainst}}</td>
			<td> {{leagueTable.home.wins}} </td>
			<td> {{leagueTable.home.draws}} </td>
			<td> {{leagueTable.home.losses}} </td>
			<td> {{leagueTable.away.goals}} </td>
			<td> {{leagueTable.away.goalsAgainst}} </td>
			<td> {{leagueTable.away.wins}} </td>
			<td> {{leagueTable.away.draws}} </td>
			<td> {{leagueTable.away.losses}} </td>
			
			
		</tr>
		
	</table>


</div>
<br>
<br>
<br>
<br>
<br>
<br>

<!--<div class="wrapper">
<div class="profile">
<table id= "datdata" border="2">
<thead>

	<th>position</th>
	<th>teamName</th>
	<th>crestURI</th>
	<th>playedGames</th>
	<th>points</th>
	<th>goals</th>
	<th>goalsAgainst</th>
	<th>goalDifference</th>
	<th>wins</th>
	<th>draws</th>
	<th>losses</th>
	<th>home.goals</th>
	<th>home.goalsAgainst</th>
	<th>home.wins</th>
	<th>home.draws</th>
	<th>home.losses </th>
	<th>away.goals</th>
	<th>away.goalsAgainst</th>
	<th>away.wins</th>
	<th>away.draws</th>
	<th>away.losses </th>
	
</thead>
<tbody>

       </tbody>
</table>

</div>
</div>-->
 



